<%= simple_form_for @clinic, data: { controller: "form-cleanup", action: "submit->end-cleanup#resetForm", target: "form-cleanup.form" } do |f| %>
    <div class="form-inputs">
        <%= f.input :name, required: true, autofocus: true %>
        <%= f.input :street, required: true %>
        <%= f.input :city, required: true %>
    </div>
    <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
    </div>
<% end %>