<div class="row ml-5">
  <div class="col col-md-6 col-lg-6">
  <h2>Datos del paciente <%# resource_name.to_s.humanize %></h2>
    <%= turbo_frame_tag 'edit_form_patient', src: edit_patient_path(current_user.patient) %>
  <hr>
  <h2>Configuración de la cuenta <%# resource_name.to_s.humanize %></h2>
  <hr>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true, disabled: true %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <%= f.input :password,
                label:"Contraseña",
                hint: "déjalo en blanco si no quieres cambiarlo",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                label:"Confirmar contraseña",
                required: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :current_password,
                label:"Contraseña actual",
                hint: "necesitamos su contraseña actual para confirmar sus cambios",
                required: true,
                input_html: { autocomplete: "current-password" } %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Actualizar", class:"btn btn-primary" %>
  </div>
<% end %>
<div class="mt-4">
  <h3>Desactivar Cuenta</h3>
  <hr>
  <%= button_to "Desactivar cuenta", registration_path(resource_name), data: { confirm: "Esta seguro?", turbo_confirm: "Esta seguro?" }, method: :delete, class:"btn btn-danger" %></div>
  <%# link_to "Back", :back %>
</div>
  <!-- <div class="col col-md-6 col-lg-6 border">
</div> -->
</div>